@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin icon() {
  border: none;
  background-color: transparent;
  color: $accents-color;
  font-size: 3.2rem;
  &:hover {
    color: $third-color;
    transition: $hover-effect;
  }
  &:focus {
    outline: none;
    transform: rotate(180deg);
  }
}
@mixin inputStyle() {
  padding: 10px 18px;
  margin: 10px;
  border-radius: 10px;
  border: solid 1px $third-color;
  background-color: transparent;
  font-size: 1.8rem;
  color: $third-color;
  &:focus {
    outline: none;
    border: solid 1px $accents_color;
    color: $third-color;
  }
}
@mixin mediaQuery($breakpoint) {
  @if $breakpoint==xs {
    @media only screen and (max-width: 600px) {
      @content;
    }
  }
}
