$primary-color: #FFFFFF;
$secondary-color: #F6F3F3;
$third-color: #888493;
$accents-color: #F06072;
$accents-color-light: rgba(240, 96, 113, 0.295);
$font-color: #2F4858;
$primary-shadow: 0 5px 10px #302E2E11;
$secondary-shadow: 0 7px 15px #302E2E45;
$primary-font: 'Montserrat', sans-serif;
$primary-font-size: 1.6rem;
$font-weight: 800;
$border-radius: 50px;
$hover-effect: 0.2s linear;
$primary-padding: 20px;