.navbar {
  width: 100%;
  padding: $primary-padding;
  z-index: 5;
  @include flex(row, space-between, center);
  &__burger-button {
    @include icon();
    &--hidden {
      visibility: hidden;
    }
  }
  &__logo {
    color: $accents-color;
    font-size: 2.4rem;
    font-weight: $font-weight;
    @include flex(row, space-between, center);
  }
}
.sidebar {
  position: fixed;
  padding: $primary-padding;
  width: 220px;
  min-height: 100vh;
  top: 0;
  left: -220px;
  z-index: 10;
  transition: 0.5s ease-out;
  background-color: $primary-color;
  border-radius: 0 $border-radius $border-radius 0;
  box-shadow: $primary-shadow;
  &.open {
    left: 0;
  }
}
.menu {
  font-size: 1.8rem;
  @include flex(column, center, flex-start);
  &--close {
    padding-bottom: $primary-padding;
    align-self: flex-end;
  }
  &__close-button {
    @include icon();
  }
  &__list {
    padding: 5px 0;
  }
  &__item {
    color: $third-color;
    text-transform: uppercase;
    &:hover {
      color: $accents-color;
      transition: $hover-effect;
    }
  }
  &__icons {
    color: $accents-color;
  }
}
.menu-item__selected {
  color: $accents-color;
  font-weight: $font-weight;
}
